.p-card .p-card-body{
    padding: 0.25rem 0.5rem 0.25rem 0.75rem 
}

.p-card .p-card-content {
    padding: 0.25rem 0rem 0.25rem 0rem 
}
 

.p-dialog .p-dialog-header{
    display: none;
}

.p-dialog .p-dialog-content{
    padding: 0rem;
    border-radius: 5px;
}